[submodule "mysqlite"]
	path = mysqlite
	url = https://github.com/nelson9503-pymodules/mysqlite.git
[submodule "trendtable"]
	path = trendtable
	url = https://github.com/nelson9503-pymodules/trendtable.git
